from util import *

DAY = {{day}}
YEAR = {{year}}


def part1(data):
    return None


def part2(data):
    return None


if __name__ == "__main__":
    data = get_data(DAY, year=YEAR)
    print(data)
    res = part1(data)
    # res = part2(data)
    print(res)
    # submit(DAY, 1, res,year=YEAR)
    # submit(DAY, 2, res,year=YEAR)
